<html>
<head>
	<title><%= @link.title %></title> </head>
	<body> 
		<fieldset>
			<div class="control-group">
				<b>Link:</b> <a href="<%= @link.url %>" target="_tab"><%= @link.url %></a>
			</div>
			<div class="control-group">			
				<b>Title:</b> <%= @link.title %>
			</div>
			<div class="control-group">			
				<b>Description:</b> <%= @link.description %> 
			</div>	
			<div class="control-group">			
				<b>Tags: </b> 
				<% tags = "" %>
				<% @link.tags.each do |tag| %> 
					<% tags << tag.tagName + ", " %>
				<%	end	%> 
				<%= tags.chomp(", ") %>
			</div>	
			<div class="form-actions">
				<%= link_to 'Back', my_links_path %>	
				<%= link_to 'Edit', edit_link_path(@link) %>
				<%= link_to 'Delete', url_for(:controller => 'links', :action => 'destroy'), method: :delete %>
			</div>
		</fieldset>
	</body>
</html>
