<html>
<head>
	<title><%= @link.title %></title> </head>
	<body> 
		<p>
			<b>Link:</b><%= @link.url %> 
		</p>
		<p>
			<b>Title:</b><%= @link.title %>
		</p> 
		<p>
			<b>Description:</b><%= @link.description %> 
		</p>	
		<%= link_to 'Back', my_links_path %>	
	</body>
</html>
